<%= render partial: 'admin/shared/admin_header' %>

  <h2 class="page-title">Manage USTS Registrations</h2>
  <%= link_to "Export USTS Registrations", admin_usts_registrations_path(format: "csv"), class: 'btn btn-solid-red' %>

  <%= form_tag import_admin_usts_registrations_path, multipart: true do %>
  <%= label_tag "Import USTS Registrations" %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import Registrations", class: 'btn btn-outline-red' %>
  <% end %>

  <%= link_to "See past years' registrations", admin_membership_archives_index_path, class: 'small-link' %>

  <h3> <%= default_year %> Registrations </h3>
  <%= render partial: 'usts_registration_list' %>
</div>
</div>
