<div class="container">

  <h2 class="page-title">Register for a Race</h2>

  <%= form_for @race_reg, html: {class: "form-group"} do |f| %>

    <div class="field">
      <%= f.label :usts_registration, "Registrant Name", class: 'required' %>
      <br>
      <%= link_to "Your name will not appear on this list if you do not have a current USTS Membership. Click here to register for USTS Membership.", new_usts_registration_path, class: "small-link" %>
      <%= f.select :usts_registration_id, options_for_select(usts_registration_name_list, selected: current_user_or_blank), {prompt: "Select Race Registrant"}, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :race, class: 'required' %>
      <%= f.select :race_id, options_for_select(list_of_race_titles_and_cities), {prompt: "Select Race"}, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :boat_class, class: 'required' %>
      <%= f.collection_select :boat_class_id, BoatClass.all, :id, :class_name, { prompt: "Select Class"}, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :boat_number, class: 'required' %>
      <%= f.text_field :boat_number, class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :boat_name%>
      <%= f.text_field :boat_name, class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :boat_owner%>
      <%= f.text_field :boat_owner, class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :boat_owner_zip%>
      <%= f.text_field :boat_owner_zip, class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :emergency_contact, "Emergency contact person"%>
      <%= f.text_field :emergency_contact, class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.label :emergency_phone%>
      <%= f.text_field :emergency_phone, class: 'form-control'%>
    </div>

    <div class="field">
      <%= f.check_box :emergency_contact_at_race %>
      <%= f.label :emergency_contact_at_race, "Check here if your emergency contact will be at the race site"%>
    </div>


    <%= f.submit "Submit Race Registration", class: 'btn btn-success' %>

  <% end %>
</div>
