<div class="container">
  <h2 class="page-title">My Race Registrations</h2>

  <div class="reg-list">

    <p class="lead-text">
      Registrations include any races for which you have registered yourself as a logged in user, races for which you have registered for someone else, races for users whose USTS Membership application you submitted, and races where someone else has registered on your behalf IF you created your own USTS Membership Registration through this website. <%= link_to "To see a list of all registered drivers for all races, please click here.", race_registrations_path %>
    </p>

    <h3>My <%= default_year %> Race Registrations </h3>

    <% if @race_registrations_this_year.present? %>

      <% @race_registrations_this_year.each do |reg| %>
        <p>
          <font class="admin-flag">Registrant: <%= reg.usts_registration.first_name %> <%= reg.usts_registration.last_name %></font><br>
          Race: <%= reg.race.title %>: <%= reg.race.city %>, <%= reg.race.state %><br>
          Date: <%= short_race_date(reg.race.start_date) %> - <%= long_race_date(reg.race.end_date) %><br>
          Class: <%= reg.boat_class.class_name %><br>
          <% if !reg.creator.nil? %>
              Registered by: <%= reg.creator.first_name %> <%= reg.creator.last_name %>
          <% end %>
        </p>
      <% end %>
    <% else %>
      <p>We can't find any race registrations for you for this race year. There may be a few reasons for this.</p>
      <p>Registrations will only appear here if one or more of the following is true: </p>
        <ul>
          <li>You have registered yourself while logged in</li>
          <li>Someone else has registered on your behalf IF you created your own USTS Membership Registration through this website</li>
        </ul>
      <p>If you think this is an error, <%= link_to "you may find your registration on the list of all registered drivers for all races", race_registrations_path, class: 'small-link' %>, or contact Sue Sailer with questions.</p>
    <% end %>
  </div>

</div>
