<div class="container">
  <h2 class="page-title">Manage Race Results</h2>

  <%= form_tag import_admin_race_results_path, multipart: true do %>
    <%= label_tag "Import race results" %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Results", class: 'btn btn-solid-red' %>
  <% end %>

  <h4>All Results</h4>

  <% @results.each do |result| %>
    <table>
      <th>
        Driver Name
        <td><%= result.race.city %>, <%= result.race.state %>
        </td>
      </th>
      <tr>
        <td><%= result.driver_name %></td>
        <td><%= result.points %></td>
      </tr>
    </table>

    <%= result.boat_class.class_name %>

    <br>
  <% end %>

</div>
