<div class="container">
  <h2 class="page-title">Manage Race Results</h2>

  <h3>Import Results</h3>

  <p>
    Results must be imported as a CSV file. Headers should be (in any order): <code>driver_name</code>, <code>points</code>, <code>race_id</code>, and <code>boat_class_id</code>. Do not include any additional information on the import file. <%=link_to "Download a sample CSV here.", asset_path("sample_results_import_csv.csv"), target: :_blank, class: 'small-link'  %>
    Please use the following for <code>race_id</code> and <code>boat_class_id</code> in your CSV file:
  </p>

  <div class="results-id-tables">
    <%= render partial: 'import_form' %>

    <%= render partial: 'boat_class_id_table' %>
    <%= render partial: 'race_id_table' %>

  </div>


  <h3>All Results</h3>

  <% @boat_classes.each do |boat_class| %>
  <h4><%=boat_class.class_name%></h4>
  <table>
    <thead>
      <th>
        Driver Name
      </th>
      <% @races.each do |race| %>
      <th>
        <%= race.city %>
      </th>
      <% end %>
      <th>
        Total
      </th>
    </thead>
    <% @driver_names = RaceResult.where(race: @races, boat_class: boat_class).pluck(:driver_name).uniq %>
    <tbody>
      <% @driver_names.each do |driver| %>
      <tr>
        <td>
          <%= driver %>
        </td>
        <% @races.each do |race| %>
          <td>
            <%= RaceResult.where(race: race, boat_class: boat_class, driver_name: driver).first.try(:points) %>
          </td>
        <% end %>
        <td>
          <%= RaceResult.where(boat_class: boat_class, driver_name: driver, race: @races).sum(:points) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% end %>



</div>
