<div class="container">

  <h2 class="page-title">Race Schedule</h2>
  <div class="row">
    <% @races.each do |race| %>
      <div class="col-md-4">
        <div class="race-tile">
          <div class="race-details">
            <p class="race-location"><%= race.city %>, <%= race.state %></p>
            <p class="race-dates"><%= short_race_date(race.start_date)%> - <%= short_race_date(race.end_date)%></p>

            <%= link_to "Details", race_path(race), class: "btn btn-success" %>
            <%= link_to "Register", root_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


</div>
