<div class="container">

  <div class="race-left-grouping">
    <h3 class="race-title">
      <%= @race.title %>
    </h3>
    <p class="race-address">
      <%= @race.street_address %>
      <%= @race.city %>, <%= @race.state %>
    </p>
    <p class="race-dates">
      <%= @race.start_date %> - <%= @race.end_date %>
    </p>

    <%= link_to "Register", root_path, class: "btn btn-success" %>
    <%= link_to "Sanction", root_path, class: "btn btn-primary" %>
    <br>
    <%= link_to "See others who are registered", root_path, class: 'small-link' %>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <h3>General Information</h3>
      <p class=""><%= @race.details %></p>
    </div>
    <div class="col-md-4">
      <h3>Where to Stay</h3>
      <p class=""><%= @race.hotel_information %></p>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="upcoming-events">
    <h3>Upcoming Events</h3>
  </div>

</div>
