<div class="container">
  <h2 class="page-title">Manage Races</h2>

  <%= link_to "Add new race", new_admin_race_path, class: 'btn btn-solid-red' %>

  <h3> Upcoming Races</h3>
  <% @races.each do |race| %>
    <p>
      <%= link_to "Edit", edit_admin_race_path(race), class: "small-link" %>
      <%= link_to "View", race_path(race), class: "small-link" %>
      <%= link_to "Delete", admin_race_path(race), method: "delete", class: "small-link" %>
      <%= long_race_date(race.start_date) %>: <%= race.title %> - <%= race.city %>, <%= race.state %>
    </p>
  <% end %>

  <h3>Past Races</h3>
  <% @all_races.each do |race| %>
    <p>
      <%= link_to "Edit", edit_admin_race_path(race), class: "small-link" %>
      <%= link_to "View", race_path(race), class: "small-link" %>
      <%= link_to "Delete", admin_race_path(race), method: "delete", class: "small-link", data: {confirm: "Are you sure you want to delete this race?"} %>
      <%= long_race_date(race.start_date) %>: <%= race.title %> - <%= race.city %>, <%= race.state %>
    </p>
  <% end %>

</div>
