<div class="container">
  <h2 class="page-title">Manage Races</h2>

  <%= link_to "Add new race", new_admin_race_path, class: 'btn btn-solid-red' %>

  <% @races.each do |race| %>
    <p>
      <%= link_to "Edit", edit_admin_race_path(race), class: "small-link" %>
      <%= link_to "View", race_path(race), class: "small-link" %>
      <%= long_race_date(race.start_date) %>: <%= race.title %> - <%= race.city %>, <%= race.state %>
    </p>
  <% end %>

</div>
