<div class="container">

  <%= form_for @news, html: {class: "form-group"} do |f| %>

    <div class="field">
      <%= f.label :title, class: 'required' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :content, class: 'required' %>
      <%= f.text_area :content, class: 'form-control', rows: 10 %>
    </div>

    <div class="field">
      <%= f.label :published_on, class: 'required' %>
      <%= f.date_select :published_on, :order => [:month, :day, :year], html: {class: 'form-control'}%>
    </div>

    <div class="">
      <%= f.submit class: "btn btn-success" %>
    </div>

  <% end %>

</div>
