<div class="container">

  <%= link_to "Back to All News", news_index_path %>

  <h2 class="article-title"> <%= @news.title %> </h2>

  <div class="row">
    <div class="col-md-2">
      <div class="detail-author">
        <p class="news-author">
          <%= image_tag(@news.author.image, class: "blog-avatar") %>
          By <%= @news.author.first_name %> <%= @news.author.last_name %>
        </p>
        <p class="news-date"><%= news_date(@news.published_on) %></p>
      </div>
      <%# if current_user.admin? %>
        <%= link_to "Edit", edit_news_path(@news), class: 'btn btn-success' %>
      <%# end %>
    </div>

    <div class="col-md-8">
      <p class="article-content"><%= @news.content %></p>
    </div>

    <div class="col-md-2">
    </div>
  </div>




</div>
