<div class="container">

  <h2>USTS Membership Registration Form</h2>

  <%= form_for @usts_reg do |f| %>

    <div class="field">
      <%= f.label :race_year, class: 'required' %>
      <%= f.select :race_year, options_for_select(year_options, selected: Date.current.year), class: 'race-year'  %>
    </div>

    <div class="field">
      <%= f.label :first_name, class: 'required' %>
      <%= f.text_field :first_name%>
    </div>

    <div class="field">
      <%= f.label :last_name, class: 'required' %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :usts_number, "USTS Member Number", class: 'required' %>
      <%= f.text_field :usts_number %>
    </div>

    <div class="field">
      <%= f.label :membership_type, class: 'required' %>
      <%= f.select :membership_type, UstsRegistration.membership_types.keys.to_a, {prompt: "Choose type"}, {class:"membership-type-picker"} %>
    </div>

    <div class="field">
      <%= f.label :street_address, class: 'required' %>
      <%= f.text_field :street_address %>
    </div>

    <div class="field">
      <%= f.label :city, class: 'required' %>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :state, class: 'required' %>
      <%#= f.text_field :state %>
      <%= f.select :state, options_for_select(us_states), {prompt: "Choose State"}, class: '' %>
    </div>

    <div class="field">
      <%= f.label :zip, class: 'required' %>
      <%= f.text_field :zip %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </div>

    <div class="field">
      <%= f.label :fax %>
      <%= f.text_field :fax %>
    </div>

    <div class="field">
      <%= f.label :birthdate, class: 'required' %>
      <%= f.date_select :birthdate, :start_year=>1900,:end_year=>Date.current.year%>
    </div>

    <div class="field">
      <%= f.check_box :liability_release? %>
      <%= f.label :liability_release?, "Please check the box to confirm you have read and agree to the liability release.", class: 'required' %>
    </div>

    <div class="field">
      <%= f.label :signature, "Typed signature", class: 'required' %>
      <%= f.text_field :signature %>
    </div>

    <div class="action">
      <%= f.submit "Submit Membership Registration", class: "btn btn-success"%>
    </div>

  <% end %>

</div>
