<div class="container">
  <h2 class="page-title"> <%= Date.today.year %> Race Results </h2>

  <% @boat_classes.each do |boat_class| %>
  <h4><%= boat_class.class_name %></h4>
  <% next if @data[boat_class.id].nil? %>
  <table>
    <thead>
      <th>
        Driver Name
      </th>
      <% @races.each do |race| %>
      <th>
        <%= race.city %>
      </th>
      <% end %>
      <th>
        Total
      </th>
    </thead>
    <tbody>
      <% @data[boat_class.id].sort_by {|driver, races| races[:total]} .reverse.each do |driver_name, race_hash| %>
      <tr>
        <td>
          <%= driver_name %>
        </td>
        <% @races.each do |race| %>
          <td>
            <%= race_hash[race.id] %>
          </td>
        <% end %>
        <td>
          <%= race_hash[:total] %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <% end %>
</div>
