<%= render partial: 'admin/shared/admin_header' %>

  <h2 class="page-title">Manage Race Registrations</h2>
  <%= link_to "Export Race Registrations", admin_race_registrations_path(format: "csv"), class: 'btn btn-solid-red' %>

  <div class="race-registration-list">

    <% if default_year == Date.today.year %>
      <h4> <%= Date.today.year %> Race Registrations </h4>
        <h5>Upcoming</h5>
        <% @race_registrations.for_races_this_year.for_future_races.each do |reg| %>
          <%= render partial: 'race_registrations', locals: { reg: reg } %>
        <% end %>
        <h5>Past</h5>
        <% @race_registrations.for_races_this_year.for_past_races.each do |reg| %>
          <%= render partial: 'race_registrations', locals: { reg: reg } %>
        <% end %>
    <% else %>
      <h4> <%= default_year %> Race Registrations </h4>
      <% @race_registrations.for_future_races.each do |reg| %>
        <%= render partial: 'race_registrations', locals: { reg: reg } %>
      <% end %>
    <% end %>



  </div>

  </div>
</div>
