<%= render partial: 'admin/shared/admin_header' %>

  <h2 class="page-title">Manage Race Registrations</h2>
  <%= link_to "Export Race Registrations", admin_race_registrations_path(format: "csv"), class: 'btn btn-solid-red' %>
  <div class="race-registration-list">

    <% @race_registrations.each do |reg| %>
    <p>
      <%= link_to "View", admin_race_registration_path(reg), class: "small-link" %>
      <%= link_to "Edit", edit_admin_race_registration_path(reg), class: "small-link" %>
      <%= link_to "Delete", admin_race_registration_path(reg), method: "delete", class: "small-link", data: {confirm: "Are you sure you want to delete this registration?"} %>
      <%= reg.race.city %>, <%= reg.race.state %>: <%= reg.usts_registration.first_name %> <%= reg.usts_registration.last_name %> - <%= reg.boat_class.class_name %>
    </p>
    <% end %>

    </div>

  </div>
</div>
