<div class="container">
  <h2 class="page-title">Manage Race Registrations</h2>

  <% @race_registrations.each do |reg| %>
  <p>
    <%= reg.race.city %>, <%= reg.race.state %>: <%= reg.usts_registration.first_name %> <%= reg.usts_registration.last_name %> - <%= reg.boat_class.class_name %>
  </p>
  <% end %>

</div>
